.icon-button
	width: 40px
	height: 40px
	display: flex
	justify-content: center
	align-items: center
	border-radius: 50%
	color: #FFF
	transition: background-color ease .2s
	cursor: pointer

@media (hover: hover) and (pointer: fine)
	.icon-button:hover
		background-color: rgba(255, 255, 255, .2)