.field
	width: 100%
	height: fit-content
	display: flex
	flex-direction: column
	gap: 4px

.field > .label
	font-size: 15px

.field > .box
	width: 100%
	height: 50px
	background-color: #000
	border: solid 1px #222
	border-radius: 6px
	display: flex
	align-items: center
	gap: 10px
	padding: 0 15px

.field > .box > input
	width: 100%
	height: 100%
	color: inherit
	font-family: inherit
	font-size: 16px