.form
	width: 500px
	max-width: 100%
	height: fit-content
	display: grid
	grid-template-columns: repeat(2, 1fr)
	gap: 20px
	@media only screen and (max-width: 900px)
		grid-template-columns: 1fr

.form > *
	@media only screen and (max-width: 900px)
		grid-column: 1 !important